*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 3rem;
        background-color: #f7f7f7;
        color: #0046C0;
        height: 3rem;
    
        .logo-porto{
                display: flex;
                align-items: center;
                width: 29rem;
        }
    
        .menu {
            display: flex;
            gap: 2rem;
            align-items: center;
            text-decoration: none;
            color: #0046C0;
            padding: 0.5rem 2rem;
            font-weight: 300;
            font-size: 1.2rem;
                &:hover {
                    text-decoration: underline;
                    font-weight: 800;
                }
            
        }
    }    
}
