*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

main{
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
    background-color: #f7f7f7;
    color: #0046C0;

    .logo-porto {
        img {
            display: flex;
            align-items: center;
            width: 8rem;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 2rem;

        a {
            text-decoration: none;
            color: #0046C0;
            padding: 0.5rem 2rem;
            font-weight: 300;
            font-size: 1.2rem;

            &:hover {
                font-weight: 800;
            }
        }
    }
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #183D7D;
    color: #fff;
    padding: 2rem 0rem 2rem 0rem;

    .conteudo-rodape {
        .redes-sociais-logos {
            .redes-sociais-nav {
                a {
                    img {
                        max-width: 3rem;
                        height: auto;
                        margin: 0rem 2rem 1rem 2rem;
                    }

                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}


main {
    .contato{
        h1 {
            align-items: center;
        }
    }

    .membros {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;

        h2 {
            padding-top: 3rem;
        }

        p {
            margin-top: 0.8rem;
        }
    }
}

.main-mapa {
    .img-mapa {
        position: relative;
        display: inline-block;

        Image {
            max-width: 100%;
            width: 3000px;
            height: auto;
            margin-bottom: 10rem;
        }

        .botao {
            .botao-seguinte {
                position: absolute;
                right: 1rem;
                bottom: 30px;
                margin: 20px;
            }

            .botao-voltar {
                position: absolute;
                left: 1rem;
                bottom: 30px;
                margin: 20px;
            }
        }
    }
}

.conteudo-sobre {
    display: flex;
    flex-direction: column;
    margin: 2rem 10rem 5rem 10rem;
    align-items: center;
    justify-content: left;
  
    p {
      margin: 1rem;
    }
  }
  
  h3 {
    display: flex;
    justify-content: center;
    margin: 2rem;
  }

    
  .status-foto {
    display: flex;
    justify-content: center;
    margin: 10rem 0rem 10rem 0rem;
  
    img {
      max-width: 40rem;
    }
  }
  
  .main-mapa {
    .img-mapa {
      position: relative;
      display: inline-block;
  
      img {
        max-width: 100%;
        width: 3000px;
        height: auto;
        margin-bottom: 10rem;
      }
  
      .botao {
        .botao-seguinte {
          position: absolute;
          right: 1rem;
          bottom: 30px;
          margin: 20px;
        }
  
        .botao-voltar {
          position: absolute;
          left: 1rem;
          bottom: 30px;
          margin: 20px;
        }
      }
    }
  }
  
  .login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .texto-login {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 10rem;
  
    .logo-porto-login {
      position: absolute;
      top: -5rem;
      left: 10rem;
      margin-bottom: 0rem;
    }
  
    .titulo-login {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  
    .subtitulo-login {
      margin-bottom: 3rem;
      color: rgb(107, 107, 107);
    }
  
    .form {
      max-width: 500px;
      width: 500px;
      padding: 20px;
      background-color: #f3f3f3;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      .form-control {
        margin-bottom: 3rem;
  
        label {
          display: block;
          margin-bottom: 1rem;
          font-weight: bold;
        }
  
        input {
          width: 30rem;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 3px;
        }
      }
    }
  
    .paragrafo-login {
      p {
        text-align: center;
        margin-top: 2rem;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .botao {
      text-align: center;
  
      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        padding: 10px 20px;
        cursor: pointer;
        width: 31rem;
        font-weight: bold;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
    @media (min-width: 1080px) {
      .titulo {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        font-size: 1.5rem;
      }
    }
  }
  
  .foto-guincho {
    height: 100vh;
    background-color: #183d7d;
    align-items: center;
    max-width: 40rem;
    
    .div-foto-guincho img {
      display: flex;
      padding: 10rem 10rem 0 3rem;
      width: 50rem;
      margin-right: 10rem;
      margin-left: -25rem;
    }
  }
  

  .solicitacaoo {
    .secao-form {
      display: flex;
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      margin-bottom: 15rem;
      justify-content: center;
  
      .formulario-solicitao {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5rem;
  
        div {
          flex: 0 0 calc(50% - 10px);
          margin-bottom: 10px;
          margin-right: 10px;
  
          &:last-child {
            margin-right: 0;
          }
  
          label {
            display: none;
          }
  
          input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
          }
        }
      }
    }
  
  
    .botao {
      text-align: center;
  
      &-voltar {
        position: absolute;
        left: 1rem;
        bottom: 30px;
        margin: 20px
      }
  
      &-seguinte {
        position: absolute;
        right: 1rem;
        bottom: 30px;
        margin: 20px;
      }
    }
  
    .error-notification {
      background-color: #f44336;
      color: white;
      padding: 10px;
      margin-top: 10px;
      border-radius: 4px;
      font-size: 14px;
    }
  }
   

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Ajuste conforme necessário para o tamanho desejado

  div {
    text-align: center;

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 1.5rem;
      color: #007bff; // Cor do link
      margin-top: 0.5rem;

      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
